body {
    font-family: 'Arial', sans-serif;
    background-color: #ffe6f2;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333;
  }
  
  .container {
    padding: 20px;
  }
  
  .title {
    color: #ff66b2;
    font-size: 2.5em;
  }
  
  .counter p {
    font-size: 1.5em;
  }
  
  span {
    color: #ff4081;
    font-weight: bold;
  }
  
  /* Fotoğraf galerisi düzeni */
  .photo-gallery {
    margin-top: 30px;
  }
  
  /* Fotoğraf satırı düzeni */
  .photo-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  /* Fotoğraf kartları */
  .photo-card {
    width: 23%; /* 4 fotoğraf için %23 genişlik */
    height: 250px;
    perspective: 1000px;
    cursor: pointer;
    position: relative;
    margin-bottom: 20px;
  }
  
  /* Fotoğraf kartlarının ön yüzü ve arka yüzü */
  .photo-card .front,
  .photo-card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.6s;
  }
  
  .photo-card .front {
    background-color: #fff;
  }
  
  .photo-card .front img {
    width: 100%;
    height: 300px; /* Fotoğrafların yüksekliğini artırdık */
    object-fit: cover; /* Fotoğrafın orantısını bozmadan boyutlandırılır */
  }
  
  .photo-card .back {
    background-color: #ffccdd;
    color: #333;
    padding: 20px;
    transform: rotateY(180deg);
  }
  
  .photo-card:hover .front {
    transform: rotateY(180deg);
  }
  
  .photo-card:hover .back {
    transform: rotateY(0);
  }
  
  button {
    background-color: #ff66b2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #ff4081;
  }
  
  .video-player {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 15px;
    display: none;
    z-index: 1000;
  }
  
  .video-player video {
    width: 100%;
    height: auto;
  }
  
  .close-btn {
    position: relative;
    top: -15px;
    right: 15px;
    background: #ff4081;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .close-btn:hover {
    background: #ff66b2;
  }
  